.root{
    -fx-background-image: url("background_login.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: cover;

}

#container{
    -fx-background-color: linear-gradient(to bottom, rgb(72,152,245) 33%, white 100%);

}
#header{
    -fx-font-weight: bold;
    -fx-font-size: 50px;
    -fx-content-color: black;
}
#username,#password{
     -fx-font-size: 30px;
     -fx-padding: 30px ;

}

#login{
    -fx-padding:15px;
}