
#menu {
    -fx-background-color:#75B6F3;
}
#Logout{
    -fx-background-color: red;
    -fx-padding:15px;
    -fx-font-weight: bold;
}

#SearchPack,#Cancel,#MyPack,#Paypack{
    -fx-background-color: aqua;
    -fx-padding:15px;
    -fx-font-weight: bold;
}
#header{
-fx-font-weight: bold;
}
