#error_message {
    -fx-text-fill: red;
    -fx-font-size: 12px;
}

.label{
    -fx-font-size: 15px;
    -fx-text-fill: #333;
    -fx-font-weight: bold;
}
.button {
    -fx-background-color: #00aaff;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
    -fx-font-size: 13px;
}
Text{
    -fx-font-size: 15px;
    -fx-text-fill: #333;
    -fx-font-weight: bold;

}
.text-field{
    -fx-background-color: #f0f0f0;
    -fx-border-color: #ccc;
    -fx-border-radius: 5px;
    -fx-padding: 10px;
}
.button:hover {
    -fx-background-color: #008ecc;
}
#welcome_label {
    -fx-font-size: 24px;
    -fx-text-fill: #0077cc;
    -fx-font-weight: bold;
}

.table-view{
    -fx-background-color: #f9f9f9;
    -fx-border-color: #ccc;
    -fx-border-radius: 10px;
    -fx-padding: 10px;
}
/* Credits:Stamatia*/
.root{
    -fx-background-image: url("https://media.istockphoto.com/id/658681492/photo/afales-bay-in-ithaca-greece.jpg?s=612x612&w=0&k=20&c=uPbUSZDT8d4YQpfX9SI4rihDF4TU2syT5TXi4UK479A=");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: cover;

}
#grid-box {
    -fx-background-color: rgba(255, 255, 255, 0.85); /* Semi-transparent white */
    -fx-background-radius: 15px;
    -fx-padding: 30px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0, 0, 4);
}
#form-card {
    -fx-background-color: rgba(255, 255, 255, 0.85);
    -fx-padding: 20px;
    -fx-background-radius: 12px;
}